<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053557574070-6pe6m10cpqk9a19798qmbi04hog95iot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053557574070-6pe6m10cpqk9a19798qmbi04hog95iot</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1053557574070-d3grqndrg8dcrv16ib3ndc8jc54rra7d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCrEbeg0dTbjgd0wdScW9jFNZXSpJdUO_8</string>
	<key>GCM_SENDER_ID</key>
	<string>1053557574070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medicare.medplus</string>
	<key>PROJECT_ID</key>
	<string>medplus-6ccc0</string>
	<key>STORAGE_BUCKET</key>
	<string>medplus-6ccc0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053557574070:ios:11b9a6e5377730ea1a5917</string>
</dict>
</plist>